<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0bf97712-a94b-4658-899b-d66c3a873c58/resourcegroups/MyTechERP_group-ac51/providers/Microsoft.Web/sites/MytechERPAPI20260322094207</ResourceId>
    <ResourceGroup>MyTechERP_group-ac51</ResourceGroup>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mytecherpapi20260322094207-fnfwfsf5bshubmfs.francecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>018b0435-41ad-49c2-8780-0f8600d192d3</ProjectGuid>
    <MSDeployServiceURL>mytecherpapi20260322094207-fnfwfsf5bshubmfs.scm.francecentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MytechERPAPI20260322094207</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>